$jet: #353535;
$snow: #FFFFFF;
$primary-color: #DD1155;
$secondary-color: #58FCEC;
$tertiary-color: #247BA0;
// https://coolors.co/41393e-fdf7fa-dd1155-58fcec-247ba0
#root {
  max-width: 100vw;
  margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  background-color: $primary-color;
}

.btn-secondary {
  background-color: $secondary-color;
}

.btn-tertiary {
  background-color: $tertiary-color;
}

body {
  background-color: $jet;
  color: $snow;
}